@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "poppins", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  background-color: #e73626;
  position: fixed;
  top: 0;
}

main {
  padding-bottom: 32px;
}

.home-container {
  width: 100vw;
  height: 100vh;
  background-color: #e73626;
  background-image: linear-gradient(#e73626, #f8a13d);
}

.container-global-summary {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: white;
  background-image: linear-gradient(#f8a13d, #ffffff);
}

main {
  width: 100vw;
}

.container-search {
  width: 80%;
  height: 100vh;
  padding-top: 100px;
  margin: 0 auto;
  background-image: url("../images/search.png");
  background-size: 480px;
  background-position-y: 78%;
  background-position-x: center;
  background-repeat: no-repeat;
}

country-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 32px 0;
  align-items: center;
  justify-content: center;
}

footer {
  padding: 16px;
  color: white;
  background-color: #e73626;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .navbar-container {
    max-width: 85%;
    min-width: 85%;
  }

  .container-main {
    max-width: 85%;
    min-width: 85%;
  }

  .container-search {
    background-size: 65%;
    background-position-y: 70%;
  }

  footer {
    padding: 8px;
    color: white;
    background-color: #e73626;
    text-align: center;
    font-weight: bold;
  }
}